@use '../util';

.moments-section {
  position: relative;
  padding: 80px 0;
  background: var(--white);
  overflow: hidden;
}

.moments-heading-section {
  max-width: 1500px;
  margin: 0 auto;
  // display: flex;
  // padding: 40px;
}
.moments-heading {
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--text-dark);
  // position: absolute;
  // top: 40px;
  // left: 60px;
  line-height: 1.5;
  text-transform: uppercase;
}

.moments-collage {
  position: relative;
  width: 100%;
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Photo cards */
.photo {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 6px 6px 0 #000;
  border: 1px solid #000;
  z-index: 2;
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.05) rotate(0deg);
}

/* Each photo's position and rotation */
.p1 { top: 2%; left: 35%; transform: rotate(9deg); 
    width: 200px;
    height: 200px;
    box-shadow: 6px 3px 0 #000;
    z-index: 5;
}
.p2 { top: 9%; left: 50%; transform: rotate(-5deg); 
    width: 300px;
    height: 340px;
    box-shadow: 4px 3px 0 #000;
}
.p3 { top: 29%; left: 47%; transform: rotate(11deg); 
    width: 280px;
    height: 300px;
    box-shadow: 5px 3px 0 #000;
    z-index: 1;
}
.p4 { top: 48%; left: 47%; transform: rotate(-6deg); 
    width: 180px;
    height: 180px;
    box-shadow: 6px 6px 0 #000;
}
.p5 { top: 55%; left: 35%; transform: rotate(-20deg); 
    width: 280px;
    height: 300px;
    box-shadow: 3px 5px 0 #000;
    z-index: 1;
}
.p6 { top: 64%; left: 70%; transform: rotate(-20deg); 
    width: 180px;
    height: 180px;
    box-shadow: 4px 7px 0 #000;
}
.p7 { top: 70%; left: 58%; transform: rotate(-20deg); 
    width: 110px;
    height: 110px;
    box-shadow: 4px 7px 0 #000;
}

/* Scrolling banner */
.slogan {
  position: absolute;
  top: 28%;
  left: -10%;
  width: 120%;
  height: 50px;
  background: #464646;
  transform: rotate(-6deg);
  overflow: hidden;
  white-space: nowrap;
  z-index: 1; /* Behind images */
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 0 #000;
}

.scroll-text {
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: util.$font-m;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 50s linear infinite;
}

/* Animation */
@keyframes scrollText {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.bold-statement{
    position: relative;
    top: -200px;
    line-height: 1.5;
    font-weight: 900;
    font-size: 6rem;
    text-transform: uppercase;
    text-align: center;
}

/* Responsive */
@media (max-width: 1570px) {
  .moments-heading-section {
  padding: 40px;
}
}

@media (max-width: 1024px) {
  .moments-heading-section {
  padding: 20px;
}
}

@media (max-width: 768px) {
  .moments-section {
    padding: 60px 0;
  }



  .moments-collage {
    height: 1500px;
  }

  .photo {
    width: 140px;
    height: 140px;
  }

  .slogan {
    height: 40px;
  }

  .scroll-text {
    font-size: 1rem;
    animation: scroll 15s linear infinite;
  }

  .moments-heading {
    font-size: 1.5rem;
    letter-spacing: 1px;
  }

  /* Each photo's position and rotation */
.p1 { top: 5%; left: 33%; transform: rotate(9deg); 
    width: 150px;
    height: 150px;
    box-shadow: 6px 3px 0 #000;
    z-index: 5;
}
.p2 { top: 15%; left: 22%; transform: rotate(-5deg); 
    width: 250px;
    height: 280px;
    box-shadow: 4px 3px 0 #000;
}
.p3 { top: 33%; left: 18%; transform: rotate(11deg); 
    width: 200px;
    height: 200px;
    box-shadow: 5px 3px 0 #000;
    z-index: 1;
}
.p4 { top: 45%; left: 27%; transform: rotate(-6deg); 
    width: 140px;
    height: 140px;
    box-shadow: 6px 6px 0 #000;
}
.p5 { top: 52%; left: 15%; transform: rotate(-20deg); 
    width: 190px;
    height: 200px;
    box-shadow: 3px 5px 0 #000;
    z-index: 1;
}
.p6 { top: 57%; left: 50%; transform: rotate(-20deg); 
    width: 180px;
    height: 180px;
    box-shadow: 4px 7px 0 #000;
}
.p7 { top: 70%; left: 50%; transform: rotate(-20deg); 
    width: 100px;
    height: 100px;
    box-shadow: 4px 7px 0 #000;
}

.bold-statement{
  font-size: 3.5rem;
   
}

}
