

:root {
    
    --button-color: #0784C8;
    --button-hover-color: #0673ad;
    // --gray-background: #d0d0d066;
    --orange-bar: #ff6b35;
    --gary-scroll-color: #242323;



    --darker-blue: #157DA6; 
    --mm-yellow: #f6c33c;
    --text-dark: #000;
    --border-dark: #000;
    --white: #fff;
    --bg-light-linen-blue: #D3EEFF;
}