

:root {
    --title-color: #009ADA; 
    --text-color: #6b6b6bbe;
    --button-color: #0784C8;
    --button-hover-color: #0673ad;
    --gray-background: #d0d0d066;
    --orange-bar: #ff6b35;
    --navlinks-color: #242323;
}